<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <header> 
            <nav>
                <ul>
                    <li><a href="/templates/index.html">Intro Page</a></li>
                    <li><a href="/templates/movie_one.html">Movie #1</a></li>
                    <li>Movie #2</li>
                    <li>Movie #3</li>
                    <li>Movie #4</li>
                    <li>Movie #5</li>
                </ul>
            </nav>
        </header>
        <section>
            <div>a</div>
            <div>b</div>
            <div>c</div>
        </section>
    </body> 
</html>

